.form {
  margin-top: 20px;
  width: 600px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.locationField > div {
  width: 100%;
}

.locationFieldItem {
  padding: 5px;
  cursor: pointer;
}

.locationFieldItem:last-child {
  border: none;
}

.chosenMediaContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.chosenMediaFig {
  flex: 1;
  flex-basis: 150px;
  border-radius: 5px;
  overflow: hidden;
}

.chosenMediaFig img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  object-position: center;
}

@media (max-width: 500px) {
  .form {
    width: 100%;
  }
}
