:root {
  --app-blue-main: #1e36e8;
  --app-blue-light: #475be8;
  --app-text-main: #808191;
  --app-text-dark: #11142d;
  --app-text-light: #fcfcfc;
  --app-text-contrastText: #e4e8ef;
  --app-bg-main: #fcfcfc;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: "Manrope", sans-serif;
}

a {
  text-decoration: none !important;
  color: inherit;
}

.my_profile-bg {
  width: 340px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.my_profile_user-img {
  border-radius: 100%;
  margin-left: -64px;
}

.property_details-img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .my_profile-bg {
    width: 100%;
    border-radius: 15px;
  }

  .my_profile_user-img {
    margin-left: 0px;
    margin-top: -64px;
  }

  .property_details-img {
    width: 100%;
    height: auto;
  }
}

.auth_gradient {
  margin: 0 !important;
  height: 100vh;
  background: rgb(10, 153, 233);
  background: radial-gradient(
    circle,
    rgba(10, 153, 233, 0.6418942577030813) 0%,
    rgba(48, 98, 190, 0.8015581232492998) 50%,
    rgba(11, 98, 203, 1) 100%
  );
}

input[type="number"]::-webkit-inner-spin-button {
  display: none;
}

body::-webkit-scrollbar,
.custom_scrollbar::-webkit-scrollbar {
  width: 0.7rem;
}

body::-webkit-scrollbar-thumb,
.custom_scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--app-text-dark);
  border-radius: 1rem;
}

body::-webkit-scrollbar-track,
.custom_scrollbar::-webkit-scrollbar-track {
  border-radius: 1rem;
  background-color: var(--app-text-contrastText);
}
