/* MAIN */

.app-swiper__main-container {
  width: 100%;
  height: 85%;
  padding-bottom: 25px;
}

.app-swiper__main {
  height: 100%;
  max-height: 100%;
}

.app-swiper__main .swiper-slide__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-swiper__main .swiper-slide__figs {
  width: max-content;
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: none !important;
}

.app-swiper__main .swiper-slide__img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  object-fit: contain;
}

/* THUMBS */

.app-swiper__thumbnails-container {
  width: 100%;
  height: 15%;
  padding: 10px 0;
}

.app-swiper__thumbnails {
}

.app-swiper__thumbnails .swiper-slide__figs {
  width: 100%;
  height: 100%;

  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.app-swiper__thumbnails .swiper-slide__img {
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
}

.app-swiper__thumbnails .swiper-slide {
  opacity: 0.5;
  border-radius: 10px;
  transition: opacity 0.3s ease;
}

.app-swiper__thumbnails .swiper-slide-thumb-active {
  opacity: 1;
  box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.4);
}
